<template>
  <main class="home">
    <h1>Witaj w naszym Centrum Wsparcia</h1>
    <p>
      Jesteśmy tutaj by pomóc! Proszę przeczytaj nasz <router-link :to="{name: 'faq'}">F.A.Q</router-link> na początku,
      jeśli nie znalazłeś odpowiedzi na swoje pytanie, <router-link :to="{name: 'tickets'}">prześlij nam zgłoszenie!</router-link>
    </p>
  </main>
</template>
