<template>
  <main class="not-found">
    <h1>Ta strona nie moze być wyświetlona</h1>
    <p class="more-info">
      Przepraszamy, ale nie znaleźliśmy strony której szukasz.<br>
      Mogła zostać przeniesiona lub usunięta.<br>
      Sprawdź adres lub kliknij ponizej aby powrócić do głównego ekranu.
    </p>
    <div class="actions">
      <router-link tag="button" :to="{name: 'home'}">Powrót do Strony Głównej</router-link>
    </div>
  </main>
</template>

<style lang="stylus" scoped>
.more-info {
  text-align: center;
}
</style>
